{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

{% load crispy_forms_tags %}

{% block title %} Category {% endblock title %}

{% block content %}
<br>
<br>
<h3>Оформить подписку на публикации</h3>
<hr>

<p class="editContent"> By subscribing to our mailing list you will always
    get latest news and updates from us.</p>
<br>
<br>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }} <!-- Теперь нам нужна только готовая форма и кнопка -->
    <br>
    <br>
    <input type="submit" value="Подписаться">
</form>
{% endblock content %}